/*Heading style*/
h1 {
	padding: 50px;
}
/* paragraph style*/
p {
	color: red;
}
.picture{
	background: url("foodmap.jpg");
	background-size: cover;
	padding: 10px;
	height: 500px;
}
/*dy{
	background: rgba(204,255,255,0.5);
}*/
.tagline{
	background-color: rgba(194,194,194,.5);
	background: cover;
	padding: 10px;
	margin: auto;
	}
p{
	color:black;
}