/*Top bar*/
.top{
		text-align: left;
		color: white;
		font-family: 'Rock Salt', cursive;
		display:inline;
		margin:0px;
		position:fixed;
		top: 0;
		width: 100%;
	}
.top .container{
	margin: 0px;
	padding: 0px;
	width: auto;
	background-color: rgba(96,20,20,1);
}
.top .row{
	margin: 0px;
	padding: 5px 0px 5px 0px;
}
.top ul{
	margin: 0px;
}
.socialmedia{
	text-align:right;
	color:: white;
}
i{
	padding-right: 10px;
	color:white;
}
.navbar{
	margin-top: 36px;
	background-color: rgba(0,0,0,.75);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: rgba(0,0,0,0);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	color: #9d9d9d;
}
/*Heading style*/
.h1 {
	color: white;
	padding: 50px;
}
.header .text-center{
	padding-top: 100px;
}
.header .text-center strong{
	border: solid;
	border-color: white;
	border-width: 3px;
	padding: 10px;
	color:white;
	font-size:larger;
}
/* paragraph style*/
.header{
	background-image: url("foodmap.jpg");
	padding: 56px;
	width: 100%;
	height: 450px;
	color: rgba(96,20,20,1);
	text-transform: capitalize;
}
.tagline{
	background-color: rgba(96,20,20,1);
	background: cover;
	color: rgba(231,154,47,1)
<<<<<<< HEAD
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0;
	width: 100%;
	}
.tagline .text-center{
	color: rgba(231,192,47,.75);
}
.tagline small{
	color: rgba(231,192,47,.5);
}
/*About Us*/
.countries .container-fluid{
	margin-top: 20px;
}
=======
	margin: auto;	
}
>>>>>>> origin/master

p{
	color:black;
} 
.row{
	margin: 0;
}
.container{
	margin: 0;
	padding: 0;
	}	
.img-circle{
	width: 200px;
	height: 200px;
	display:block;
	margin: 0 auto;
}
.countries{
	text-align:center;
}
.countries a{
	color: black;
	text-decoration:none;
}
/*flipping images*/
.flip-container{
	display:block;
	margin: 0 auto;
	perspective: 1000;
	width: 200px;
	height: 200px;
}
.flipper{
	transform-style:preserve-3d;
	transition:all 1.0s linear;
	position:relative;
}
.flip-container:hover .flipper{
	transform:rotateY(180deg);
}
.Front{	
	position:absolute;
	backface-visibility:hidden;
	top: 0;
	left: 0;
	transform:rotateY(180deg);
	z-index: 2;
}
.Back{
	position:absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	z-index: 1;
}

/*Content*/

p.one {
    border-style: solid;
    border-width: 5px;
}

/*Contact Form*/
.contactform{
	text-align:center;
	margin: 0;
	background-color: rgba(0,0,0, .75);
	background-size:cover;
}
.contactform .container{
	margin:0 auto;
	margin-bottom: 10px;
	color: rgba(96,20,20,1);
	font-weight:bold;
	font-size: large;
}
.contactform a{
	color: black;
	text-decoration:none;
}
.btn-default{
	background-color:rgba(96,20,20,1);
	color: white;
} 

/* Footer */
.footer {
		text-align: center;
		background: rgba(96,20,20,1);
		padding: 10px;
		color: white;
		font-family: arial;
		background-size: cover;
		position: relative;
		left:0px;
		bottom: 0px;
		right: 0px;
		width: 100%;
	}
.footer a {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
.footer li {
		display: inline;
		padding: 0px 10px 0px 10px;
	}
.text {
		padding: 30px 0 0 0;
}
@media (max-width: 768px) {
	.top{
		text-align:center;
	}
	.socialmedia{
		text-align: center;
	}
	.navbar{
		margin-top: 56px;
	}
	.footer li{
		display: block;
		padding: 1px;
		}
	.header .text-center strong{
		font-size: x-large;
}
	}
