/*Heading style*/
h1 {
	padding: 50px;
}
/* paragraph style*/
p {
	color: red;
}
.picture{
	background: url("foodmap.jpg");
	background-size: cover;
	padding: 10px;
	height: 500px;
}
body{
	background: rgba(204,255,255,0.5);
}